# Maven build
target/
!.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.factorypath
.springBeans

# Logs
*.log
logs/

# H2
*.db
*.mv.db
*.trace.db

# OS
.DS_Store
Thumbs.db

# Secrets
application-local.properties
application-secret.properties